body{
    text-align:center;
    font-size: 32px;
}
header{
    text-align: center;
    background: url("../img/jan.png") no-repeat center;
    height: 288px;
    width: 896px;
    margin: auto;
}
h1{
    color: whitesmoke;
    font-size: 96px;
    padding: 64px;
}
.question_btn{
    display: flex;
    justify-content: center;
}
#yes_btn{
    margin-right: 50px;
}
button{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    height: 112px;
    width: 176px;
    font-size: 16px;
}
button:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
img{
    height: 112px;
    width: 176px;
}
ul{
    margin: auto;
    display:table;
    table-layout: fixed;
    width:50%;
    margin-top: 70px;
}
li{
    text-align:left;
    display:table-cell;
    padding: 0.5em;
	border-left: solid 6px #1A237E;
    color:#1A237E;
    font-size: 24px;
}
li:hover{
    background: #0066CC;
    color:#fff;
}
table{
    margin: auto;
    width: 30%;
    border-collapse: collapse;
    margin-top: 70px;
}
table tr{
    border-bottom: solid 2px white;
}
table tr:last-child{
    border-bottom: none;
}
table th{
    position: relative;
    text-align: left;
    width: 40%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
}
table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #52c2d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
table td{
    text-align: left;
    width: 60%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
}